/* Reset básico */
html, body, #root {
  margin: 0;
  padding: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #f5f7fa;
}

/* Container principal */
.conteiner {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

/* Cabeçalho */
.cabecalho {
  text-align: center;
  margin-bottom: 2rem;
}

.titulo-centralizado {
  font-size: 3rem;
  color: #004b94;

  margin-bottom: 0.3rem; /* menos espaço abaixo pra aproximar do subtítulo */
}

.subtitulo {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #004b94;
  margin-bottom: 1.5rem; /* espaço abaixo do subtítulo */
  margin-top: 0; /* remove espaço acima, se tiver */
  letter-spacing: 0.3px; /* opcional: dá leveza */
}

/* Barra de pesquisa */
.barra-pesquisa {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.campo-pesquisa {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 90%;
}


.icone-lupa {
  width: 20px;
  margin-right: 0.5rem;
}

.campo-pesquisa input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  color: #004b94; /* azul */
}

/* Estiliza o texto do placeholder dentro do input */
.campo-pesquisa input::placeholder {
  color: #1e40af;          /* Cor azul (como você queria antes) */
  font-style: italic;      
  font-size: 1rem;         
  opacity: 1;             
}



/* Lista de clientes (grid responsivo) */
.Cliente-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 0;
  list-style: none;
}

@media (min-width: 640px) {
  .Cliente-card {
    grid-template-columns: 1fr 1fr;
  }
}

/* Link do cliente (tirando sublinhado) */
.cliente-link {
  text-decoration: none;
  color: inherit;
}

/* Cartão individual */
.cartao {
  background-color: #004b94;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cartao:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.cartao h2 {
  font-size: 1.4rem;
  color: #d2eefb;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.cartao p {
  margin: 0.1rem 0;
  color: #d2eefb;
}

/* Paginação */
.paginacao {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 0.5rem;
}

.setpagina {
  background-color: #56af31;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.setpagina:hover {
  background-color: #418822;
}

@media (min-width: 1024px) {
  .Cliente-card {
    grid-template-columns: 1fr 1fr;
  }

  .cartao {
    padding: 1.5rem;
  }

  .titulo-centralizado {
    font-size: 4rem;
  }
}
